<div class="auth-container">
  <div class="auth-card">
    <h1>SkillUp</h1>
    <h2>Вход в акаунта</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="usernameOrEmail">Имейл или потребителско име</label>
        <input
          id="usernameOrEmail"
          type="text"
          formControlName="usernameOrEmail"
          placeholder="user@example.com"
        />
        <div
          class="error"
          *ngIf="
            form.controls.usernameOrEmail.touched &&
            form.controls.usernameOrEmail.invalid
          "
        >
          Задължително поле.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Парола</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="••••••"
        />
        <div
          class="error"
          *ngIf="
            form.controls.password.touched && form.controls.password.invalid
          "
        >
          Въведете парола.
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid || loading">
        {{ loading ? "Влизане..." : "Вход" }}
      </button>

      <p class="register-text">
        Нямате акаунт?
        <a routerLink="/auth/register">Регистрирайте се</a>
      </p>
    </form>
  </div>
</div>
