.course-details {
  padding: 1rem;

  .teacher {
    color: #777;
    margin-bottom: 1rem;
  }

  .progress-bar {
    background: #eee;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 1rem;

    .bar {
      height: 100%;
      background: #3f51b5;
      transition: width 0.4s;
    }
  }
}
