<div class="auth-container">
  <div class="auth-card">
    <h1>SkillUp</h1>
    <h2>Създайте акаунт</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="username">Потребителско име</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          placeholder="Вашите имена"
        />
        <div
          class="error"
          *ngIf="
            form.controls.username.touched && form.controls.username.invalid
          "
        >
          Потребителското име е задължително.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Имейл</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="user@example.com"
        />
        <div
          class="error"
          *ngIf="form.controls.email.touched && form.controls.email.invalid"
        >
          Валиден имейл е задължителен.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Парола</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="••••••"
        />
        <div
          class="error"
          *ngIf="
            form.controls.password.touched && form.controls.password.invalid
          "
        >
          Въведете парола.
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid || loading">
        {{ loading ? "Регистриране..." : "Регистрация" }}
      </button>

      <p class="register-text">
        Вече имате акаунт?
        <a routerLink="/auth/login">Вход</a>
      </p>
    </form>
  </div>
</div>
