<div class="courses-page">
  <h2>Всички курсове</h2>

  <app-loading-spinner *ngIf="loading"></app-loading-spinner>

  <app-empty-state
    *ngIf="!loading && !courses.length && !error"
    message="Няма налични курсове."
  ></app-empty-state>

  <div *ngIf="error" class="error">{{ error }}</div>

  <div class="grid" *ngIf="!loading && courses.length">
    <div
      class="course-card"
      *ngFor="let c of courses"
      [routerLink]="['/courses', c.id]"
    >
      <h3>{{ c.title }}</h3>
      <p>{{ c.description || "Без описание" }}</p>
      <p class="teacher">Преподавател: {{ c.teacherName }}</p>
    </div>
  </div>
</div>
